PRIME_SERVER_DEPLOYER_PRIVATE_KEY=
PRIME_SERVER_PROVIDER_1_PRIVATE_KEY=
PRIME_SERVER_PROVIDER_2_PRIVATE_KEY=
PRIME_SERVER_PROVIDER_3_PRIVATE_KEY=
PRIME_SERVER_PROVIDER_4_PRIVATE_KEY=
PRIME_SERVER_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
PRIME_SERVER_WSS_URL=wss://coston2-api.flare.network/ext/C/ws
PRIME_SERVER_REGISTRY_ADDRESS=
PRIME_SERVER_REGISTRY_DEPLOYMENT_BLOCK=
PRIME_SERVER_REGISTRY_DEPLOYMENT_TX_HASH=
PRIME_SERVER_AUTH_SECRET=
PRIME_SERVER_AUTH_DOMAIN=api.primeserver
PRIME_SERVER_PUBLIC_BASE_URL=
PRIME_SERVER_CORS_ORIGIN=*
PRIME_SERVER_FCC_SENDER_ADDRESS=
PRIME_SERVER_FCC_RESULT_VERIFIER_ADDRESS=
PRIME_SERVER_FCC_EXTENSION_ID=
PRIME_SERVER_FCC_TEE_ID=
PRIME_SERVER_FCC_PROXY_URL=
