PRIME_SERVER_DEPLOYER_PRIVATE_KEY=
PRIME_SERVER_PROVIDER_1_PRIVATE_KEY=
PRIME_SERVER_PROVIDER_2_PRIVATE_KEY=
PRIME_SERVER_PROVIDER_3_PRIVATE_KEY=
PRIME_SERVER_PROVIDER_4_PRIVATE_KEY=
PRIME_SERVER_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
PRIME_SERVER_WSS_URL=wss://coston2-api.flare.network/ext/C/ws

