VITE_PRIME_RPC_URL=http://localhost:8787/prime/v1
VITE_COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
VITE_REGISTRY_ADDRESS=0x5E43cCe14cf17c96aF6d7ADF47592f5118Ab05E1
VITE_REGISTRY_DEPLOYMENT_BLOCK=33590506
VITE_DEMO_MODE=false
