VITE_PRIME_RPC_URL=http://localhost:8787/prime/v1
VITE_COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
VITE_COSTON2_EXPLORER_API_URL=https://coston2-explorer.flare.network/api/v2
VITE_REGISTRY_ADDRESS=0x5E43cCe14cf17c96aF6d7ADF47592f5118Ab05E1
VITE_REGISTRY_DEPLOYMENT_BLOCK=33590506
VITE_FCC_SENDER_ADDRESS=0x84B117F9a8262a3a7003da843d53e9cbFE756232
VITE_FCC_RESULT_VERIFIER_ADDRESS=0xdA5C56F28d0834b1084E98074aa1F3432f294e0E
VITE_FCC_INSTRUCTION_FEE_WEI=1000000
